/* banner */
.banner {
    background-image: url('../images/contact_us_banner.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 600px;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .banner {
        height: 300px;
    }
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
}
