/* banner */
.banner {
    background-image: url('../images/find_agent_banner.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 700px;
    filter: brightness(90%);
}
/* .banner::before {
    content: "";
    position: absolute;
    top: 0rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 685px;
    background-color: rgba(0,0,0,0.25);
} */


.stars {
    color: #E9B815;
    font-size: 1rem;
}
.gray-stars {
    color: #C9C9C9;
}
.agent-contact {
    border: 2px solid #EB8EB0;
    border-radius: 1.5rem;
    color: #EB8EB0;
    padding: 0.5rem 1rem;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .mobile-agent-banner-txt-area {
        flex-direction: column;
        padding-top: 10rem;
    }

    .mobile-btn-fifty {
        width: 50%;
        flex: 50%;
    }

    .mobile-m-top-15 {
        margin-top: 15px;
    }

    .mobile-center-content {
        float: unset !important;
        text-align: center;
    }
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-btn-fifty {
        width: 50%;
        flex: 50%;
    }

    .mobile-m-top-15 {
        margin-top: 15px;
    }
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}