/* banner */
.banner {
    background-image: url('../images/index_banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 625px;
}



/* search */
.search {
    position: absolute;
    top: 28rem;
    padding: 2.3rem 0rem;
    z-index: 1;
}
.input-group .btn {
    z-index: 0;
}
/* .search .nav-pills .nav-link.active, .search .nav-pills .show>.nav-link {
    color: red!important;
} */

.modal .fa, .modal .fas {
    font-weight: 900;
    color: white;
    text-align: center;
    background-color: #23A1C0;
    padding: 0.75rem;
    border-radius: 50px;
}




/* recent projects */
.project-item a {
    color: #9B9B9B!important;
}
.project-item a:hover {
    color: black!important;
}
.project-item .active {
    border-bottom: 1px solid black!important;
    color: black!important;
    font-weight: 600;
}





/* cards */
#index-cards .card-title, #featured-projects .card-title {
    color: #83BC3E;
}



/* featured projects */
#index-featured-projects .text-info {
    color: #79CEEC!important;
}



/* property search */
.properties {
    height: 504px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.properties::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #d5d5d5;
}
.properties::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
.properties::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}
.small-num {
    color: #79CEEC;
}
.small-heart {
    color: #E88DAF;
    cursor: pointer;
}




/* bottom banner */
.bottom-banner {
    background-image: url('../images/index_bottom_banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 630px;
}
.bottom-banner-stars {
    color: #E9B815;
    font-size:1rem;
}