/* banner */
.banner {
    background-image: url('../images/index_banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 695px;
}



/* search */
.search {
    position: absolute;
    top: 32.2rem;
    padding: 2.3rem 0rem;
    z-index: 1;
}
.search .nav li {
    border-top: 2px solid transparent!important;
}
.input-group .btn {
    z-index: 0;
}
/* .search .nav-pills .nav-link.active, .search .nav-pills .show>.nav-link {
    color: red!important;
} */

#pills-residential .residential {
    width: 35%!important;
}

#pills-residential select {
    font-size: 0.9rem!important;
    color: #999;
}

#pills-commercial .commercial {
    width: 25%!important;
}

#pills-commercial select {
    font-size: 0.9rem!important;
    color: #999;
}


.search .nav .active {
    border-top: 5px solid red!important;
}

.modal .fa, .modal .fas {
    font-weight: 900;
    color: white;
    text-align: center;
    background-color: #23A1C0;
    padding: 0.75rem;
    border-radius: 50px;
}




/* recent projects */
.project-item a {
    color: #9B9B9B!important;
}
.project-item a:hover {
    color: black!important;
}
.project-item .active {
    border-bottom: 1px solid black!important;
    color: black!important;
    font-weight: 600;
}

.swiper {
    padding-bottom: 35px!important;
    padding-top: 35px!important;
    padding-right: 28px!important;
    padding-left: 28px!important;
}
.swiper-pagination {
    bottom: 5px!important;
}

.swiper-slide img {
    cursor: pointer;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px!important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px!important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 2rem!important;
    opacity: 0.5;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 2rem!important;
    opacity: 0.5;
}



/* cards */
#index-cards .card-title, #featured-projects .card-title {
    color: #83BC3E;
}



/* featured projects */
#index-featured-projects .text-info {
    color: #79CEEC!important;
}



/* property search */
.properties {
    height: 504px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.properties::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #d5d5d5;
}
.properties::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
.properties::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}
.small-num {
    color: #79CEEC;
}
.small-heart {
    color: #E88DAF;
    cursor: pointer;
}




/* bottom banner */
.bottom-banner {
    background-image: url('../images/index_bottom_banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 630px;
}
.bottom-banner-stars {
    color: #E9B815;
    font-size:1rem;
}
.mini-search-bar {
    display: none;
}


.home-card {
    height: 100%;
}





@media screen and (max-width: 576px) {
    .banner {
        height: 400px;
    }
    .search {
        top: 10.5rem;
        padding: 0rem;
        z-index: 1;
        background-color: transparent!important;
    }
    .search-bar {
        display: none;
    }
    .mini-search-bar {
        display: block;
    }
    
    #index-property-search #map {
        height: 450px!important;
    }
    #index-cards .container {
        margin-top: 4rem!important;
    }
    #index-featured-projects .container {
        margin-top: 5rem!important;
    }
    .home-featured {
        margin-top: 3rem!important;
    }
    .bottom-banner {
        height: 230px!important;
        margin-top: 3rem!important;
    }
    .bottom-banner .text {
        padding-top: 5rem!important;
    }
    .bottom-banner .text h5 {
        font-size: 15px!important;
    }
    .bottom-banner-stars {
        font-size: 0.8rem!important;
    }
}


/*mobile-view*/
@media screen and (max-width: 767px) {
    .mobile-mt-30 {
        margin-top: 30px;
    }

    .mobile-mt-15 {
        margin-top: 15px !important;
    }
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .banner {
        height: 400px;
    }

    .search {
        top: 13rem;
    }

    h1.mobile-mt-30 {
        margin-top: 15px;
    }

    .container-fluid.mobile-mt-15 {
        margin-top: 15px !important;
    }
}
