.carousel-control-prev-icon , .carousel-control-next-icon {
    background-color: rgb(36, 33, 33, 0.5);
    padding: 25px 20px;
    border-radius: 0.2rem;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}


.features #collapseExample.collapse:not(.show) {
    display: flex;
    height: 11rem;
    overflow: hidden;
}

.features #collapseExample.collapsing {
    height: 11rem;
}

.features a.collapsed::before {
    content: 'See full description';
}


.features a:not(.collapsed)::before {
    content: 'Hide description';
}

.more-box {
    border: 2px solid #707070;
    width: 47%;
    padding: 0.5rem 1rem;
}

.nav-tabs .nav-link {
    border: none!important;
    margin-bottom: -1px;
    border-bottom: 2px solid transparent;
    border-radius: 0!important;
    color: #999;

}

.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 5px solid green!important;
}

.nav-tabs .nav-link:hover {
    border: none;
    color: #495057;
}
.nav-tabs i {
    font-size: 1.7rem;
}

.high-opacity {
    opacity: 1!important;
}
.tabDot {
    font-size: 0.9rem!important;
}
:focus-visible {
    outline: none!important;
}

.number {
    background-color: #19aa00;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 30px;
    text-align: center;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.decription-icon {
    display: block !important;
}

/*description list*/
#profile-description {
    margin-top: 50px; 
    position:relative;
  }
  #profile-description .text {
  /*   width: 660px;  */
    margin-bottom: 5px; 
    color: #777; 
    padding: 0 15px; 
    position:relative; 
    font-family: Arial; 
    font-size: 14px; 
    display: block;
  }
  #profile-description .show-more {
  /*   width: 690px;  */
    color: #777; 
    position:relative; 
    font-size: 12px; 
    padding-top: 5px; 
    height: 20px; 
    text-align: center; 
    background: #f1f1f1; 
    cursor: pointer;
  }
  #profile-description .show-more:hover { 
      color: #1779dd;
  }
  #profile-description .show-more-height { 
    height: 65px; 
    overflow:hidden; 
  }

a.text-decoration-none.text-body.collapse-button a i.bi.bi-chevron-down.ms-1.collapsed {
    display: inline-block !important;
}

a.text-decoration-none.text-body.collapse-button.collapsed a i.bi.bi-chevron-down.ms-1.collapsed {
    display: inline-block !important;
}

a.text-decoration-none.text-body.collapse-button.collapsed a i.bi.bi-chevron-up.ms-1.collapsed {
    display: none !important;
}

a.text-decoration-none.text-body.collapse-button a i.bi.bi-chevron-up.ms-1.collapsed {
    display: inline-block !important;
}



.row.back-to-search-mobile-row {
    align-items: center;
}

.mobile-full-area a, .print-btn-mobile {
    width: 200px !important;
    white-space: nowrap;
}

.col-2.text-center.mt-2.mobile-full-area {
    max-width: 200px !important;
    margin-right: 30px;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .mobile-font-small {
        font-size: 0.7rem;
    }
    .mobile-full-area {
        flex: 100% !important;
        max-width: 100% !important;
    }

    .mobile-full-area a, .print-btn-mobile {
        width: 250px !important;
    }

    .back-to-search-mobile-row {
        display: flex;
    }
    
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .tab-width-p-card {
        width: 33%;
    }

}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}