/* banner */
.banner {
    /* background-image: url('../images/menavid_banner.svg'); */
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 7rem;
    height: 600px;
}


.profile-picture {
    position: absolute;
    top: -5rem;
    height: 10rem;
}
.individual-about-buttons {
    border: 1px solid #707070;
    color: #404040;
    padding: 0.5rem 1rem;
}
#agent-tabs .all .active {
    background-color: #4A4A4A;
    color: white!important;
}

#agent-tabs .residential .active {
    background-color: #4195E1;
    color: white!important;
}
#agent-tabs .commercial .active {
    background-color: #83BE43;
    color: white!important;
}
#agent-tabs .investments .active {
    background-color: #FF8C00;
    color: white!important;
}
#agent-tabs .tp_developer .active {
    background-color: #F33A6A;
    color: white!important;
}
.tab-price {
    color: #E88EAF;
    position: relative;
    top: 0.6rem;
}
.tab-price small {
    font-size: 0.8rem
}


.page-link {
    color: #515151;
    border: none;
}
.page-item.active .page-link {
    background-color: #E88EAF;
    border-color: #E88EAF;
}

.i-agent-main-area {
    padding-left: 30px;
    padding-right: 30px;
}

.i-agent-tags {
    width: max-content;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .banner {
        height: 300px;
    }
    .i-agent-main-area {
        display: block;
        width: 100%;
        margin-top: 100px;
    }
    .mobile-i-agent-row {
        flex-direction: column;
    }
    .i-agent-title {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .mobile-i-agent-btn-area {
        text-align: left !important;
    }

    .i-agent-btn {
        margin-top: 5px !important;
    }

    .i-agent-contact-btns-area {
        float: unset;
        width: 100%;
    }

    .i-agent-tags {
        width: max-content;
    }

    .tab-price {
        top: 0.6rem;
    }

    .i-agent-card-title {
        margin-top: 15px;
    }

    .mobile-m-r-small {
        margin-right: 0.3rem !important;
        margin-top: 10px;
    }

    .more-btn-mobile {
        width: 33% !important;
        margin-top: 35px;
    }

    
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .i-agent-main-area  {
        width: 100%;
        margin-top: 90px;
    }

    .banner {
        height: 300px;
    }

    .i-agent-tags {
        width: max-content;
    }

    .more-btn-mobile {
        width: 140px;
    }
}



/*large screen*/
@media screen and (min-width: 1400px) {
   
}