.landing_nav .line {
    text-align: center;
    height: 2px;
    width: 0px;
    background-color: red;
    transition-property: all;
    transition-duration: 0.3s;
    margin: 0 auto;
    visibility: hidden;
}

.landing_nav .active{
    border-bottom: 2px solid red;
}

#featured-properties .card-title {
    color: #83BC3E;
}

#featured-properties .text-info {
    color: #79CEEC!important;
}

/* country scroll */
.countries {
    height: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.countries::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #00000000;
}
.countries::-webkit-scrollbar-track {
    border-radius: 0;
    background: #00000000;
}
.countries::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}


.countries a {
    text-decoration: none!important;
    color: white!important;
    border-bottom: 2px solid transparent;
}

.countries a:hover {
    border-bottom: 2px solid #EA8DAF;
}

.landing-item a {
    color: #9B9B9B!important;
}

.landing-item a:hover {
    color: black!important;
}

.landing-item .active {
    border-bottom: 1px solid black!important;
    color: black!important;
    font-weight: 600;
}


.map-banner {
    background: url('../../img/landing_banner.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  height: 620px;
}

.map-ban {
    background: url('../../img/landing_banner.png') no-repeat center center fixed;
  filter: blur(10px);
  height: 390px;
}

.map-large-ban {
    background: url('../../img/landing_banner.png') no-repeat center center fixed;
  filter: blur(10px);
  height: 450px;
}

.map-ban1 {
    background:rgb(255,255,255, 0.4);
  filter: blur(30px);
  filter: brightness(50%);
  height: 395px;
  position: relative;
  bottom: 390px;
}

.map-large-ban1 {
    background:rgb(255,255,255, 0.4);
  filter: blur(30px);
  filter: brightness(50%);
  height: 450px;
  position: relative;
  bottom: 450px;
}


.hide-map-text {
    display: none!important;
}

.swiper-slide img {
    cursor: pointer;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 65px!important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 65px!important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 2rem!important;
    opacity: 0.5;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 2rem!important;
    opacity: 0.5;
}

.mySwiper2 {
    padding-bottom: 35px!important;
    padding-right: 28px!important;
    padding-left: 28px!important;
}
.mySwiper2 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px!important;
}
.mySwiper2 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px!important;
}

@media screen and (max-width: 320px){
    .map-div h5 {
        font-size: 14px;
    }
}


@media screen and (max-width: 576px) {
    .logo-landing {
        top: 0.8rem;
        height: 1.8rem!important;
    }
    .map-banner {
        height: 1100px!important;
    }
    .map-banner .container {
        margin-top: 6rem!important;
    }
    .regions-div {
        height: 500px;
    }
    .map-div h5 {
        font-size: 16px;
        left: 0;
    }
    #mapdiv {
        width: 92.5%!important;
        left: 14px!important;
    }
    .swiper-button-next {
        display: none!important;
    }
    .swiper-button-prev {
        display: none!important;
    }
    .mySwiper2 {
        padding-bottom: 0!important;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    #featured-properties .container {
        margin-top: 4rem!important;
    }
    .join {
        padding-left: 0rem!important;
    }
}

.hidden-xs {
    display: block !important;
}

.visible-xs {
    display: none !important;
}

.hidden-tab {
    display: block !important;
}

.visible-tab {
    display: none !important;
}




/*mobile-view*/
@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
 
    .visible-xs {
     display: block !important;
     }

     .visible-tab {
        display: block !important;
    }

    .mobile-nav-additional-wrapper {
        margin-left: 85px !important;
    }
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-tab {
        display: none !important;
    }
    
    .visible-tab {
        display: block !important;
    }
}
