/* banner */
.banner {
    background-image: url('../images/sign_in_banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center right;
    height: 700px;
}
.sign-in-box {
    font-size: 1rem!important;
    border: none;
    border-radius: 0;
}

.form-control::placeholder {
    color: #747272;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #747272;
}

.form-control::-ms-input-placeholder {
    color: #747272;
}

/* get app banner */
.get-app {
    background-image: linear-gradient(to right, rgba(135, 206, 235), rgba(25, 164, 25,0.5));
    padding: 15rem;
}