/* banner */
/* .banner {
    background-image: url('../images/sign_up_banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center right;
    height: 600px;
} */
.sign-up-box {
    font-size: 1rem!important;
    border: none;
    border-radius: 0;
}


.form-control::placeholder {
    color: #747272;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #747272;
}

.form-control::-ms-input-placeholder {
    color: #747272;
}




.terms {
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}
::-webkit-scrollbar {
    width: 13px;
    border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .terms-area-mobile {
        padding-left: 12px !important;
        padding-right: 0;
    }
    .register-container {
        padding-left: 0;
    }

    .mobile-pt-0 {
        padding-top: 0 !important;
    }
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*large screen*/
@media screen and (min-width: 1400px) {
    section#sign-up {
        min-height: 74vh;
    }
    .register-container {
        padding-top: 20vh !important;
    }
}

