body {
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 0.9rem;
    color: #504F4F;
}
.ns {
    font-size: 1rem;
}
.no-result-list {
    font-size: 0.9rem;
    color: #504F4F;
}

/* Override default bootstrp styles */
.fw-bold {
    font-weight: 500!important;
}
.rounded {
    border-radius: 0.35rem!important;
}
.text-secondary {
    color: #686767!important;
}


/* logo and navbar */
.logo {
    position: fixed;
    top: 1.8rem;
    z-index: 1;
    height: 4rem;
}

.logo-landing {
    position: fixed;
    top: 1rem;
    z-index: 1;
    height: 4rem;
}

.flag {
    /* position: fixed;
    top: 4rem; */
    /* z-index: 10000; */
    height: 30px;
    /* left: 30%; */
}
.globe {
    position: fixed;
    top: 4.5rem;
    z-index: 10000;
    left: 30%;
    width: 140px;
}

/* .nav-hover {
    font-weight: 1000!important;
} */
.nav1 {
    padding: 0 1.5rem;
    /* border-right: 0.5px solid #C0C0C0; */
}
.nav2 {
    padding: 0 1rem;
    /* border-right: 0.5px solid #C0C0C0; */
}
.second-nav {
    position: fixed;
    top: 3.5rem;
    z-index: 2;
}
.line {
    text-align: center;
    height: 2px;
    width: 0px;
    background-color: red;
    transition-property: all;
    transition-duration: 0.3s;
    margin: 0 auto;
    visibility: hidden;
}
/* .nav2 .active {
    border-bottom: 1px solid black!important;
} */
.nav2 .dropdown-menu {
    min-width: 12rem!important;
}

.navbar .active {
    border-bottom: 2px solid red;
}


/* user image styles */
#index-navbar .dropdown-toggle::after {
    color: white;
}
#index-navbar .dropdown-item:focus, .dropdown-item:hover {
    color: black!important;
    background-color: #e9ecef;
}
.second-nav .dropdown-toggle::after {
    color: black!important;
}


/* get app banner */
.get-app {
    background-image: linear-gradient(to right, rgba(135, 206, 235), rgba(25, 164, 25,0.5));
    padding: 15rem;
}




.nav-modal .modal-content{
    overflow:hidden;
    }
.nav-modal .modal-body{
    overflow-y:scroll;
}
.nav-modal .modal-body::-webkit-scrollbar {
    width: 8px;
    border: 1px solid #d5d5d5;
}
.nav-modal .modal-body::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}
.nav-modal .modal-body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}
.nav-modal .modal-body a div:hover {
    background-color: #c4c3be;
}



/* .project-item a {
    color: #212529;
    border: none;
}
.project-item a:hover {
    border-bottom: 1px solid black;
    font-weight: 600;
    color: #212529;
} */




.custom-shadow {
    box-shadow: 0 0rem 1rem rgba(0,0,0,.175);
}




@media screen and (max-width: 576px) {
    .first-nav .logo {
        top: 0.8rem;
        height: 2rem!important;
    }

    .globe {
        top: 4.6rem;
        left: 7%;
    }
}

/*custom styles for nav icons*/
.icons-bar {
    display: flex;
    gap: 15px;
    margin-left: 45px;
}

.icon-wrapper i {
    font-size: 2rem;
}

.heart-wrapper {
    position: relative;
}

.counter-wrapper {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -10px;
}

.counter-wrapper p {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
}